<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="general_head">

	<title>HSE</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" type="text/css" th:href="@{${baseUrl} + 'lib/bootstrap/css/bootstrap.min.css'}"/>
	<link rel="stylesheet" type="text/css" th:href="@{${baseUrl} + 'lib/icons.css'}"/>
	<link rel="stylesheet" type="text/css" th:href="@{${baseUrl} + 'css/main.css'}"/>
	<link rel="stylesheet" type="text/css" th:href="@{${baseUrl} + 'css/navBar.css'}" />
	<link rel="stylesheet" type="text/css" th:href="@{${baseUrl} + 'css/modals.css'}" />
	
</head>

<body>

	<nav sec:authorize="hasAuthority('EXPERIMENTER')" id="admin-nav" th:fragment="navbar" class="navbar navbar-light  fixed-top">

	  	<div id="internal-links">

			<!--
			<a  class="internal-link" th:href="@{${baseUrl}}" th:text="#{m_search}"></a>
			-->
			
			<a class="internal-link" th:href="@{${baseUrl} + 'experiments/ui'}" th:text="#{m_experiments}"></a>

			<a class="internal-link" th:href="@{${baseUrl} + 'indexing/ui'}" th:text="#{m_indexing}"></a>
			
			<a sec:authorize="hasAuthority('ADMIN')" class="internal-link" th:href="@{${baseUrl} + 'admin/ui'}" th:text="#{m_admin}"></a>
			
			<a class="internal-link" th:href="@{${baseUrl} + 'logout'}">Logout</a>
			
		</div>
		
		<div id="langSelectors">
			<div class="langSelector" id="lang_it">IT</div>
			<div class="langSelector" id="lang_en">EN</div>
		</div>
		
	</nav>
	
	<nav sec:authorize="hasAuthority('PARTICIPANT')" id="paticipant-nav"
		 th:fragment="participant-navbar" class="navbar bg-secondary fixed-top">
	
		 <div id="internal-links">

			<a  class="participant-link" th:href="@{${baseUrl} + 'logout'}" th:text="#{m_completeSurvey}"></a>
			<a th:if="${surveyUrl != null}" class="participant-link" th:href="@{${surveyUrl}}" th:text="#{m_completeSurvey}"></a>
			
		</div>
		
		<div id="langSelectors">
			<div class="langSelector participant-link" id="lang_it">IT</div>
			<div class="langSelector participant-link" id="lang_en">EN</div>
		</div>
		
	</nav>

   	<th:block th:fragment="commonScripts">

		<!-- pass baseUrl to js -->
		<script th:inline="javascript">
			/*<![CDATA[*/
			var baseUrl = /*[[${baseUrl}]]*/ "default";
			/*]]>*/
		</script>
	
	  	<script th:src="@{${baseUrl} + 'lib/jquery-3.4.1.min.js'}"></script>
	  	<script th:src="@{${baseUrl} + 'lib/bootstrap/js/bootstrap.min.js'}"></script>
		<script th:src="@{${baseUrl} + 'js/messages.js'}"></script>
	  	<script th:src="@{${baseUrl} + 'js/main.js'}"></script>
		<script th:src="@{${baseUrl} + 'lib/stomp/sockjs.min.js'}"></script>
    	<script th:src="@{${baseUrl} + 'lib/stomp/stomp.min.js'}"></script>
	
	</th:block>

</body>

</html>