<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/lib/icons.css}"/>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<!-- workaround to make messages available in js -->

<th:block th:fragment="messages">
	
<span id="m_add" th:text="#{m_add}" class="m_message"></span>
<span id="m_close" th:text="#{m_close}" class="m_message"></span>
<span id="m_ok" th:text="#{m_ok}" class="m_message"></span>
<span id="m_yes" th:text="#{m_yes}" class="m_message"></span>
<span id="m_no" th:text="#{m_no}" class="m_message"></span>

<span id="m_delete" th:text="#{m_delete}" class="m_message"></span>
<span id="m_error" th:text="#{m_error}" class="m_message"></span>
<span id="m_warning" th:text="#{m_warning}" class="m_message"></span>
<span id="m_generalError" th:text="#{m_generalError}" class="m_message"></span>
<span id="m_saved" th:text="#{m_saved}" class="m_message"></span>
<span id="m_deleted" th:text="#{m_deleted}" class="m_message"></span>
<span id="m_saved_f" th:text="#{m_saved_f}" class="m_message"></span>
<span id="m_deleted_f" th:text="#{m_deleted_f}" class="m_message"></span>
<span id="m_created" th:text="#{m_created}" class="m_message"></span>

<span id="m_userName" th:text="#{m_userName}" class="m_message"></span>
<span id="m_password" th:text="#{m_password}" class="m_message"></span>
<span id="m_missingUserName" th:text="#{m_missingUserName}" class="m_message"></span>
<span id="m_missingPassword" th:text="#{m_missingPassword}" class="m_message"></span>
<span id="m_userExists" th:text="#{m_userExists}" class="m_message"></span>
<span id="m_userNotFound" th:text="#{m_userNotFound}" class="m_message"></span>

<span id="m_search" th:text="#{m_search}" class="m_message"></span>
<span id="m_experiments" th:text="#{m_experiments}" class="m_message"></span>
<span id="m_indexing" th:text="#{m_indexing}" class="m_message"></span>
<span id="m_admin" th:text="#{m_admin}" class="m_message"></span>
<span id="m_user" th:text="#{m_user}" class="m_message"></span>
<span id="m_users" th:text="#{m_users}" class="m_message"></span>
<span id="m_administrator" th:text="#{m_administrator}" class="m_message"></span>
<span id="m_administrators" th:text="#{m_administrators}" class="m_message"></span>
<span id="m_experimenter" th:text="#{m_experimenter}" class="m_message"></span>
<span id="m_experimenters" th:text="#{m_experimenters}" class="m_message"></span>
<span id="m_participant" th:text="#{m_participant}" class="m_message"></span>
<span id="m_participants" th:text="#{m_participants}" class="m_message"></span>

<span id="m_testGroup" th:text="#{m_testGroup}" class="m_message"></span>
<span id="m_experiment" th:text="#{m_experiment}" class="m_message"></span>

<span id="m_upload" th:text="#{m_upload}" class="m_message"></span>
<span id="m_file" th:text="#{m_file}" class="m_message"></span>
<span id="m_submit" th:text="#{m_submit}" class="m_message"></span>
<span id="m_uploadError" th:text="#{m_uploadError}" class="m_message"></span>
<span id="m_fileNotFound" th:text="#{m_fileNotFound}" class="m_message"></span>
<span id="m_fileReadError" th:text="#{m_fileReadError}" class="m_message"></span>

<span id="m_urlList" th:text="#{m_urlList}" class="m_message"></span>
<span id="m_urlLists" th:text="#{m_urlLists}" class="m_message"></span>

<span id="m_collection" th:text="#{m_collection}" class="m_message"></span>
<span id="m_docCollection" th:text="#{m_docCollection}" class="m_message"></span>
<span id="m_docCollections" th:text="#{m_docCollections}" class="m_message"></span>
<span id="m_collectionName" th:text="#{m_collectionName}" class="m_message"></span>
<span id="m_language" th:text="#{m_language}" class="m_message"></span>
<span id="m_missingCollectionName" th:text="#{m_missingCollectionName}" class="m_message"></span>
<span id="m_collectionExists" th:text="#{m_collectionExists}" class="m_message"></span>
<span id="m_collectionNotFound" th:text="#{m_collectionNotFound}" class="m_message"></span>
<span id="m_indexed" th:text="#{m_indexed}" class="m_message"></span>
<span id="m_notIndexed" th:text="#{m_notIndexed}" class="m_message"></span>

<span id="m_index" th:text="#{m_index}" class="m_message"></span>
<span id="m_processed" th:text="#{m_processed}" class="m_message"></span>
<span id="m_skipped" th:text="#{m_skipped}" class="m_message"></span>
<span id="m_doIndex" th:text="#{m_doIndex}" class="m_message"></span>

<span id="m_timeElapsed" th:text="#{m_timeElapsed}" class="m_message"></span>
<span id="m_processing" th:text="#{m_processing}" class="m_message"></span>
	
</th:block>

</body>
</html>



















