<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/lib/icons.css}"/>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" th:href="@{/css/modals.css}" />
	
</head>

<body>

<!-- GENERAL -->

<th:block th:fragment="modals">

<div class="modal fade" id="infoModal">
		
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
		
			<div class="modal-header text-center">
				<h4 class="modal-title w-100" id="infoHeader"></h4>
		   	</div>
		
			<div class="modal-body text-center">
		   		<div id="infoText"></div>
			</div>
	
			<div class="modal-footer">
				<button id="infoOkBtn" class="btn btn-primary" data-dismiss="modal">Ok</button>
			</div>
		
		</div>
	</div>
	
</div>

<div class="modal fade" id="errorModal">
		
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
		
			<div class="modal-header text-center">
				<h4 class="modal-title w-100" id="errorHeader"></h4>
		   	</div>
		
			<div class="modal-body  text-center">
		   		<div id="errorText"></div>
			</div>
		
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Ok</button>
			</div>
		
		</div>
	</div>
	
</div>

<div class="modal fade" id="confirmDeleteModal">
		
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
		
			<div class="modal-header text-center">
				<h4 class="modal-title w-100" th:test="#{m_warning}"></h4>
		   	</div>
		
			<div class="modal-body  text-center">
		   		<div id="deleteWarningText"></div>
			</div>
		
			<div class="modal-footer">
			
				<button id="deleteYesBtn" 
						class="btn btn-primary" 
						data-dismiss="modal"
						th:text="#{m_yes}">
				</button>
				
				<button id="deleteNoBtn" 
						class="btn btn-primary" 
						data-dismiss="modal"
						th:text="#{m_no}">
				</button>
				
			</div>
		
		</div>
	</div>
	
</div>

<div class="modal fade" id="processingModal">
		
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
		
			<div class="modal-header text-center">
				<h4 class="modal-title w-100" th:text="#{m_processing}"></h4>
		   	</div>
		
			<div class="modal-body text-center">
			
				<div class="spinner-border text-primary"></div>
			
			</div>
		
		</div>
	</div>
</div>

<!-- ADMIN -->

<div class="modal fade" id="administratorInputModal">
		
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header text-center">
				<h4 class="modal-title w-100" th:text="#{m_add} + ' ' + #{m_administrator}"></h4>
		   	</div>
		
			<div class="modal-body">
			
			
				<div class="form-group">
                	<label class="control-label" th:text="#{m_userName}"></label>
                        <div>
                            <input id="administratorUserNameInput" type="text" class="form-control input-lg">
                        </div>
             	</div>
			
				<div class="form-group">
                	<label class="control-label" th:text="#{m_password}"></label>
                        <div>
                            <input id="administratorPasswordInput" type="password" class="form-control input-lg">
                        </div>
             	</div>

			</div>
		
			<div class="modal-footer">
			
				<button class="btn btn-light" 
						data-dismiss="modal" 
						th:text="#{m_close}">
				</button>
				
				<button id="submitAdministratorBtn" 
						class="btn btn-primary" 
						data-dismiss="modal" 
						th:text="#{m_ok}">
				</button>
				
			</div>
		
		</div>
	</div>
	
</div>


<div class="modal fade" id="experimenterInputModal">
		
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header text-center">
				<h4 class="modal-title w-100" th:text="#{m_add} + ' ' + #{m_experimenter}"></h4>
		   	</div>
		
			<div class="modal-body">
			
			
				<div class="form-group">
                	<label class="control-label" th:text="#{m_userName}"></label>
                        <div>
                            <input id="experimenterUserNameInput" type="text" class="form-control input-lg">
                        </div>
             	</div>
			
				<div class="form-group">
                	<label class="control-label" th:text="#{m_password}"></label>
                        <div>
                            <input id="experimenterPasswordInput" type="password" class="form-control input-lg">
                        </div>
             	</div>
			
			
			
			</div>
		
			<div class="modal-footer">
			
				<button class="btn btn-light" 
						data-dismiss="modal" 
						th:text="#{m_close}">
				</button>
				
				<button id="submitExperimenterBtn" 
						class="btn btn-primary" 
						data-dismiss="modal" 
						th:text="#{m_ok}">
				</button>
				
			</div>
		
		</div>
	</div>
	
</div>

<div class="modal fade" id="participantInputModal">
		
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header text-center">
				<h4 class="modal-title w-100" th:text="#{m_add} + ' ' + #{m_participant}"></h4>
		   	</div>
		
			<div class="modal-body">
			
			
				<div class="form-group">
                	<label class="control-label" th:text="#{m_userName}"></label>
                        <div>
                            <input id="participantUserNameInput" type="text" class="form-control input-lg">
                        </div>
             	</div>
			
				<div class="form-group">
                	<label class="control-label" th:text="#{m_password}"></label>
                        <div>
                            <input id="participantPasswordInput" type="password" class="form-control input-lg">
                        </div>
             	</div>
			
				<div class="form-group">
                	<label class="control-label" th:text="#{m_experiment}"></label>
                        <div>
                            <input id="participantExperimentInput" type="text" class="form-control input-lg">
                        </div>
             	</div>

				<div class="form-group">
                	<label class="control-label" th:text="#{m_testGroup}"></label>
                        <div>
                            <input id="participantGroupInput" type="text" class="form-control input-lg">
                        </div>
             	</div>
			
			
			</div>
		
			<div class="modal-footer">
			
				<button class="btn btn-light" 
						data-dismiss="modal" 
						th:text="#{m_close}">
				</button>
				
				<button id="submitParticipantBtn" 
						class="btn btn-primary" 
						data-dismiss="modal" 
						th:text="#{m_ok}">
				</button>
				
			</div>
		
		</div>
	</div>
	
</div>

<!-- INDEXING -->

<div class="modal fade" id="docCollectionInputModal">
		
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header text-center">
				<h4 class="modal-title w-100" th:text="#{m_add} + ' ' + #{m_docCollection}"></h4>
		   	</div>
		
			<div class="modal-body">
			
			
				<div class="form-group">
                	<label class="control-label" th:text="#{m_collectionName}"></label>
                        <div>
                            <input id="collectionNameInput" type="text" class="form-control input-lg">
                        </div>
             	</div>
			
				<div class="form-group">
                	<label class="control-label" th:text="#{m_urlList}"></label>
                        <div th:if="${urlLists != null}">
                            <select id="urlListSelect" class="form-control input-lg">

								<option th:each="urlList : ${urlLists}" 
										th:value="${urlList}"
										th:text="${urlList}">
								</option>

                            </select>
                        </div>
             	</div>
			
				<div class="form-group">
                	<label class="control-label" th:text="#{m_language}"></label>
                        <div th:if="${languages != null}">
                            <select id="collectionLanguageSelect" type="text" class="form-control input-lg">

								<option th:each="language : ${languages}" 
										th:value="${language}"
										th:text="${language}">
								</option>

                            </select>
                        </div>
             	</div>
			
			
			</div>
		
			<div class="modal-footer">
			
				<button class="btn btn-light" 
						data-dismiss="modal" 
						th:text="#{m_close}">
				</button>
				
				<button id="submitDocCollectionBtn" 
						class="btn btn-primary" 
						data-dismiss="modal" 
						th:text="#{m_ok}">
				</button>
				
			</div>
		
		</div>
	</div>
	
</div>

<div class="modal fade" id="indexingResultModal">
		
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
		
			<div class="modal-header text-center">
				<h4 class="modal-title w-100" th:text="#{m_index} + ' ' + #{m_created}"></h4>
		   	</div>
		
			<div class="modal-body text-center">
			
				<div id="indexingResultOuterBody">
				<div id="indexingResultInnerBody">
					<span th:text="#{m_collection} + ':  '"></span>
					<span id="irCollectionName"></span>
					<br />
					<span th:text="#{m_urlList} + ':  '"></span>
					<span id="irUrlListName"></span>
					<br />
					<span th:text="#{m_processed} + ':  '"></span>
					<span id="irProcessed"></span>
					<br />
					<span th:text="#{m_indexed} + ':  '"></span>
					<span id="irIndexed"></span>
					<br />
					<span th:text="#{m_skipped} + ':  '"></span>
					<span id="irSkipped"></span>
					<br />
					<span th:text="#{m_timeElapsed} + ':  '"></span>
					<span id="irTime"></span>
					<span> s</span>
					<br />
				</div>
				</div>
			
			</div>
		
			<div class="modal-footer">
				
				<button id="irOkBtn"
						class="btn btn-primary" 
						data-dismiss="modal" 
						th:text="#{m_ok}">
				</button>
				
			</div>
		
		</div>
	</div>
	
</div>







</th:block>

</body>

</html>













