
#inner-container {
	
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	width: 90%;
	margin-top: 3rem;
}

.tab-container {
	 
	min-width: 30%;
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	margin-top:3rem;
} 

h2 {
	
	font-size: 20pt;
}

.dl-link {
	color: black;
}


/* FILE INPUT */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block;
}