
h2 {
	
	font-size: 20pt;
}

h3 {
	
	font-size: 18pt;
}

h4 {
	
	font-size: 16pt;
}

h5 {
	
	font-size: 14pt;
}

.dl-link {
	color: black;
}

#inner-container {
	
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	margin-top: 3rem;
	margin-bottom: 10rem;
	width: 80%;
}

.eval-section {
	
	margin-top: 1em;
	font-size: 12pt;
}

.eval-section h2 {
	
	margin-bottom: .5em;
}

.eval-secton-content {
	
	margin-left: 1em;
	margin-bottom: 1em;
}

.eval-secton-content h4 {
	
	margin-top: 1em;
}

.stats-div {
	
	display: flex;
	flex-flow: row nowrap;
	
	margin-top: .5em;
}

.stats-title {
	
	font-weight: bold;
	margin-right: 1em;
}

.stats-details {
	
	display: flex;
	flex-flow: column nowrap;
}

.doc-distributions-div {
	
	display: flex;
	flex-flow: row wrap;
}

.doc-distributions-item {
	
	margin-right: 1em;
	margin-top: 1em;
	padding: .5em;
	background-color: #eeeeee;
}








