
#inner-container {
	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 90%;
	margin-top: 3rem;
}

#experiments-lists {
	
	min-width: 80%;
	margin-bottom: 1em;
}

.table-space { 
	width: 4em;
}

.list-row button {

	margin-left: 0;	
	margin-right: 0;
}

tr {
	
	margin-bottom: 20px;
	border-bottom: 2px solid #bbb; 
}