
#experiments-list {
	
	width: 100%;
	margin-bottom: 1em;
}

.table-space { 
	width: 100%;
}

.page-link {
	color: black;
}

.lists-row button {

	margin-left: 0;	
	margin-right: 0;
}

tr {
	
	margin-bottom: 20px;
	border-bottom: 2px solid #bbb; 
}