
#inner-container {
	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 90%;
	margin-top: 3rem;
}

.tab-container {
	 
	display: flex;
	flex-flow: row wrap;
	margin-top: 1rem;
}

.list-tab {
	
	margin-right: 4em;
	margin-bottom: 2em;margin-bottom: 2em;
	min-width: 20em;
}

h3 {
	
	font-size: 16pt;
	margin-right: 3em;
}

.tab-header {
	
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: .5em;

}

#url-lists-list {
	
	width: 100%;
	margin-bottom: 1em;
}

.urlFileName {
	
	margin-right: auto;
}

.lists-row button {

	margin-left: 0;	
	margin-right: 0;
}
 
.dl-link {
	
	color: black;
}

tr {
	
	margin-bottom: 20px;
	border-bottom: 2px solid #bbb; 
}



.table-space { 
	width: 100%;
}


#doc-collections-list {
	 
/*	min-width: 30em;*/
}

.text-green {
	
	color: green; 
}

.text-red {
	
	color: red;
}


/* FILE INPUT */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}




