
nav {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background-color: white;
}

a.internal-link {
	
	color: #52527a;
	margin-right: .5em;
	font-weight: bold;	
}

#langSelectors {
	
	display: flex;
	flex-direction: row;
	padding: 1em;
}

.langSelector {
	
	color: #52527a;
	margin-right: .5em;
	font-weight: bold;
	cursor: pointer;
}

.langSelector:hover {
	color: #9494b8;
}