

h1, h2 {
	
	color: blue;
}

h2 {
	
	font-size: 16pt;
}

#timeoutDisp {
	
	margin-top: 3em;
}

#title {
	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#search-bar {
	
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-top: 2rem;
}

#search-bar form {
	
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

#search-input {
	
	width: 30rem;
	margin-right: .5rem;
}



#results {
	
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	width: 60%;
	margin-top: 2rem;
}

#resultPropertiesDisplay {
	
	font-size: 16pt;
	margin-bottom: 1em;
}

.result-item {
	
	margin-bottom: 2rem;
}

.result-url {
	
	font-size: 15pt;
	margin-bottom: .3em;
}

.result-summary {
	
	font-size: 13pt;
}





