<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" th:href="@{${baseUrl} + 'css/admin.css'}" />

</head>

<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="main-container">

	<h1 th:text="#{m_admin}"></h1>
	
	<div id="inner-container">
	
		<div id="users-div">
		
			<h2 th:text="#{m_users}"></h2>
		
			<div class="user-tab">
			
				<div class="tab-header">
				<h3 th:text="#{m_administrators}"></h3>
				<button class="btn btn-primary" th:onclick="showAdministratorInputModal()">
				<span class="glyphicon glyphicon-plus"></span>
				</button>
				</div>
				
				<table class="table">
							
				    <tbody>

				      <tr th:each="administrator: ${administrators}">

				        <td th:text="${administrator.id}" ></td>
				        <td th:text="${administrator.userName}"></td>

						<td class="table-space"></td>

				        <td>
							<button class="btn btn-sm btn-light"
									th:onclick="showAdministratorInputModal([[${administrator}]])">
							<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</td>
						
						<td>
							<button class="btn btn-sm btn-light"
									th:onclick="showAdminDeleteModal([[${administrator}]])">
							<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
						
				      </tr>

				    </tbody>

				  </table>
			
			</div>
			
			<div class="user-tab">
			
				<div class="tab-header">
				<h3 th:text="#{m_experimenters}"></h3>
				<button class="btn btn-primary" th:onclick="showExperimenterInputModal()">
				<span class="glyphicon glyphicon-plus"></span>
				</button>
				</div>
				
				<table class="table">
							
				    <tbody>

				      <tr th:each="experimenter: ${experimenters}">

				        <td th:text="${experimenter.id}" ></td>
				        <td th:text="${experimenter.userName}"></td>

						<td class="table-space"></td>

				        <td>
							<button class="btn btn-sm btn-light"
									th:onclick="showExperimenterInputModal([[${experimenter}]])">
							<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</td>
						
						<td>
							<button class="btn btn-sm btn-light"
									th:onclick="showExperimenterDeleteModal([[${experimenter}]])">
							<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
						
				      </tr>

				    </tbody>

				  </table>
			
			</div>
		
		</div>
	
	</div>
	
</div>

<!-- pass user lists to js -->
<script th:inline="javascript">
	/*<![CDATA[*/
	var administrators = /*[[${administrators}]]*/ "default";
	var experimenters = /*[[${experimenters}]]*/ "default";
	var participants = /*[[${participants}]]*/ "default";
	/*]]>*/
</script>


<th:block th:include="fragments/messages.html :: messages"></th:block>
<th:block th:include="fragments/general.html :: commonScripts"></th:block>
<th:block th:include="fragments/modals.html :: modals"></th:block>

<script th:src="@{${baseUrl} + 'js/admin.js'}"></script>

</body>

</html>





