<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" type="text/css" th:href="@{${baseUrl} + 'css/document.css'}" />

</head>

<body>

<script src="https://unpkg.com/@ungap/custom-elements-builtin"></script>
<script type="module" src="https://unpkg.com/x-frame-bypass"></script>

<nav th:replace="fragments/general.html :: navbar"></nav>
<nav th:replace="fragments/general.html :: participant-navbar"></nav>

<div class="main-container">

	<iframe is="x-frame-bypass" id="page-frame" th:src="${docUrl}" title="W3Schools Free Online Web Tutorials"></iframe>

</div>

<th:block th:include="fragments/messages.html :: messages"></th:block>
<th:block th:include="fragments/general.html :: commonScripts"></th:block>



</body>

</html>