<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" type="text/css" th:href="@{${baseUrl} + 'css/document.css'}" />

</head>

<body>

<script src="https://unpkg.com/@ungap/custom-elements-builtin"></script>
<script type="module" src="https://unpkg.com/x-frame-bypass"></script>

<nav th:replace="fragments/general.html :: navbar"></nav>
<nav th:replace="fragments/general.html :: participant-navbar"></nav>

<div class="main-container">

	

	<iframe th:if="${fileType == 'HTML'}"
			is="x-frame-bypass" 
			class="page-frame" 
			th:src="${docUrl}" 
			title="doc">
	</iframe>
	
	<object th:if="${fileType == 'PDF'}"
			th:data="${docUrl}" 
			type="application/pdf"
			class="page-frame">
    </object>

</div>

<script th:inline="javascript">
	/*<![CDATA[*/
	var baseUrl = /*[[${baseUrl}]]*/ "default";
	var docUrl = /*[[${docUrl}]]*/ "default";
	var fileType = /*[[${fileType}]]*/ "default";
	/*]]>*/
</script>

<th:block th:include="fragments/messages.html :: messages"></th:block>
<th:block th:include="fragments/general.html :: commonScripts"></th:block>

<script th:src="@{${baseUrl} + 'js/document.js'}"></script>

</body>

</html>