<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" th:href="@{/css/exp_run.css}" />

</head>

<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="main-container">

	<h1 th:text="#{m_run} + ' ' + ${experiment.title}"></h1>
	
	<div id="inner-container">
	
		<div id="main-control">
		
			<button id="startStopBtn" class="btn btn-lg btn-primary" th:text="#{m_start}"></button>
			
			
			<span id="timer-display"></span>
			
			<span id="status-display"></span>
			
			<button id="evalBtn" 
					class="btn btn-lg btn-primary" 
					th:text="#{m_evaluate}"
					th:onclick="gotoEval()">
			</button>
			
			<div id="experiment-info">
			
				<div th:each="testGroup : ${experiment.testGroups}" class="groupInfo">
				
					<h2 th:text="${testGroup.name}"></h2>
					
					<table class="table">
						
						<thead>
						<tr>
						
							<th>id</th>
							<th th:text="#{m_userName}"></th>
							<th th:text="#{m_status}"></th>
							<th th:text="#{m_queries}"></th>
							<th th:text="#{m_clicks}"></th>	
						
						</tr>
						</thead>
						
						<tbody>
						<tr th:each="participant : ${testGroup.participants}">
						
							<td th:text="${participant.id}"></td>
							<td th:text="${participant.userName}"></td>
							<td th:id="'p_status_' + ${participant.id}"></td>
							<td th:id="'p_queries_' + ${participant.id}"></td>
							<td th:id="'p_clicks_' + ${participant.id}"></td>
						
						</tr> 
						</tbody>
					
					</table>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
</div>

<!-- pass variables to js -->
<script th:inline="javascript">
	/*<![CDATA[*/
	var experiment = /*[[${experiment}]]*/ "default";
	/*]]>*/
</script>

<th:block th:include="fragments/messages.html :: messages"></th:block>
<th:block th:include="fragments/general.html :: commonScripts"></th:block>
<th:block th:include="fragments/modals.html :: modals"></th:block>

<script th:src="@{/js/exp_run.js}"></script>

</body>

</html>