<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" th:href="@{/css/exp_setup.css}" />

</head>

<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="main-container">

	<h1 th:text="#{m_setUp} + ' ' + ${experiment.title}"></h1>
	
	<div id="inner-container">
	
		<div class="tab-container">
		
			<div class="tab-header">
				<h2 th:text="#{m_availableConfigFiles}"></h2>	
						
			</div>
			
			<table id="configFileList" class="table table-hover">
			
				<tr th:each="file : ${configFiles}">
				
					<td th:text="${file}"></td>
					
					<td class="table-space"></td>
				
					<td>
						<button class="btn btn-sm btn-light">
							<a class="dl-link" 
							   th:href="@{/experiments/testGroups/config/dl?fileName=} + ${file}" 
							   target="blank">
							<span class="glyphicon glyphicon-search"></span>
							</a>
							</button>
					</td>
						
					<td>
						<button class="btn btn-sm btn-light"
								th:onclick="showConfigFileDeleteModal([[${file}]])">
						<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				
				</tr>
			
			</table>
			
			<div class="input-group">
				
				<span class="input-group-btn">			
					<span class="btn btn-primary btn-file">		
						<span class="glyphicon glyphicon-plus"></span>		
					    <input id="configFileInput"
							   data-url="/upload" 
							   accept="text/plain" 
							   type="file">
					</span>	
				</span>
					
				</div>
		
		</div>
		
		<div class="tab-container">
		
			<div class="tab-header">
				<h2 th:text="#{m_experimentDetails}"></h2>	
				<button class="btn btn-primary" 
						th:text="#{m_configureFromFile}"	
						onclick="showFileConfigModal()">
				</button>	
			</div>
			
			<h3 th:text="#{m_testGroups}"></h3>
			
			<div id="testGroupsList">
				
				<div th:each="testGroup : ${experiment.testGroups}" class="test-group-div">
				
					<div class="test-group-header">
						<h4 th:text="${testGroup.name}"></h4>
					</div>
					 
					<div class="test-group-sub-header">
						<h5 th:text="#{m_docCollections}"></h5>
					
						<button class="btn btn-sm btn-secondary" 
								th:onclick="showDocCollectionSelectModal([[${testGroup}]])">
						<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
					
					<table class="table table-hover doc-collections-table">
					
						<tr th:each="collection : ${testGroup.docCollections}">
						
							<td th:text="${collection.name}"></td>
							
							<td th:text="${collection.language}"></td>
						
						</tr>
					
					</table>
					
					<div class="test-group-sub-header">
						<h5 th:text="#{m_participants}"></h5>
										
						<button class="btn btn-sm btn-secondary" 
								th:onclick="showParticipantInputModal([[${testGroup}]])">
						<span class="glyphicon glyphicon-plus"></span>						
					</div>
					
					<table class="table table-hover participants-table">
					
						<tr th:each="participant : ${testGroup.participants}">
						
							<td th:text="${participant.userName}"></td>
						
						</tr>
					
					</table>
					

					

				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
</div>

<!-- pass variables to js -->
<script th:inline="javascript">
	/*<![CDATA[*/
	var experiment = /*[[${experiment}]]*/ "default";
	var docCollections = /*[[${docCollections}]]*/ "default";
	var configFiles = /*[[${configFiles}]]*/ "default";
	/*]]>*/
</script>

<th:block th:include="fragments/messages.html :: messages"></th:block>
<th:block th:include="fragments/general.html :: commonScripts"></th:block>
<th:block th:include="fragments/modals.html :: modals"></th:block>

<script th:src="@{/js/exp_setup.js}"></script>

</body>

</html>