<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" th:href="@{/css/exp_run.css}" />

</head>

<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="main-container">

	<h1 th:text="#{m_run} + ' ' + ${experiment.title}"></h1>
	
	
</div>

<th:block th:include="fragments/messages.html :: messages"></th:block>
<th:block th:include="fragments/general.html :: commonScripts"></th:block>
<th:block th:include="fragments/modals.html :: modals"></th:block>

<script th:src="@{/js/exp_run.js}"></script>

</body>

</html>