<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" th:href="@{/css/indexing.css}" />

</head>

<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="main-container">

	<h1 th:text="#{m_indexing}"></h1>
	
	<div id="inner-container">
	
		<div class="tab-container">
			
			<div class="list-tab" id="url-lists-tab">
			
				<div class="tab-header">
				<h3 th:text="#{m_urlLists}"></h3>
				</div>
				
				<div id="url-lists-list">
								
				  	<table class="table table-hover">
			
						<tr th:each="urlList : ${urlLists}"  class="list-row table-light">
							
							<td class="urlFileName" th:text="${urlList}"></td>
							
							<td class="table-space"></td>
							
							<td>
								<button class="btn btn-sm btn-light">
								<a class="dl-link" th:href="@{/indexing/urlLists/dl?fileName=} + ${urlList}">
								<span class="glyphicon glyphicon-save"></span>
								</a>
								</button>
							</td>
						
							<td>
								<button class="btn btn-sm btn-light"
										th:onclick="showUrlListDeleteModal([[${urlList}]])">
								<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
							
						</tr>
						
				  	</table>
			
				</div>
				
				<div class="input-group">
				
					<span class="input-group-btn">
			
					   	<span class="btn btn-primary btn-file">
		
							<span class="glyphicon glyphicon-plus"></span>
		
					      		<input id="urlListFileInput"
									   data-url="/upload" 
									   accept="text/plain" 
									   type="file">
	
					    	</span>
	
					  	</span>
					
				</div>
			
			</div>
			
			<div class="list-tab" id="doc-collections-tab">
			
				<div class="tab-header">
				<h3 th:text="#{m_docCollections}"></h3>
				</div>
				
				<div id="doc-collections-list">
								
				  	<table class="table table-hover">
			
						<tbody>
					      <tr th:each="collection : ${docCollections}"  class="list-row table-light">

					        <td th:text="${collection.id}"></td>
							<td th:text="${collection.name}"></td>
							<td th:text="${collection.urlListName}"></td>
							<td th:text="${collection.language}"></td>
							<td th:if="${collection.indexed}" class="text-green" th:text="#{m_indexed}"></td>
							<td th:unless="${collection.indexed}" class="text-red" th:utext="#{m_notIndexed}"></td>
							<td class="table-space"></td>
							
							<td>
								<button class="btn btn-sm btn-light"
										th:onclick="showDocCollectionInputModal([[${collection}]])">
								<span class="glyphicon glyphicon-pencil"></span>
								</button>
							</td>
							
							<td>
								<button class="btn btn-sm btn-light"
										th:onclick="showCollectionDeleteModal([[${collection}]])">
								<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
							
							<td>
								<button class="btn btn-sm btn-light"
										th:text="#{m_doIndex}"
										th:onclick="doIndex([[${collection}]])"
								</button>
							</td>
							
					      </tr>
    					</tbody>
			
				  	</table>
			
			
				</div>
				
				<div>
				
					<button class="btn btn-primary" th:onclick="showDocCollectionInputModal()">
					<span class="glyphicon glyphicon-plus"></span>
					</button>
					
				</div>
			
			</div>

    		
		
		</div>
	
	</div>
	
	
	
	
</div>
 
<!-- pass variables to js -->
<script th:inline="javascript">
	/*<![CDATA[*/
	var urlLists = /*[[${urlLists}]]*/ "default";
	/*]]>*/
</script>

<th:block th:include="fragments/messages.html :: messages"></th:block>
<th:block th:include="fragments/general.html :: commonScripts"></th:block>
<th:block th:include="fragments/modals.html :: modals"></th:block>

<script th:src="@{/js/indexing.js}"></script>

</body>

</html>