<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" th:href="@{/css/indexing.css}" />

</head>

<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div id="main-container">

	<h1>Indexing</h1>
	
	
</div>

<th:block th:include="fragments/general.html :: commonScripts"></th:block>

<script th:src="@{/js/indexing.js}"></script>

</body>

</html>