<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" th:href="@{/css/indexing.css}" />

</head>

<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="main-container">

	<h1 th:text="#{m_indexing}"></h1>
	
	<div id="inner-container">
	
		<div id="url-lists-div">
			
			<div id="url-lists-tab">
			
				<div class="tab-header">
				<h3 th:text="#{m_urlLists}"></h3>
				</div>
				
				<div id="url-lists-list" class="list-group list-group-flush">
								
				  	<div th:each="urlList : ${urlLists}" class="list-group-item list-group-item-action list-group-item-light">
			
						<div class="url-lists-row">
							
							<span class="urlFileName" th:text="${urlList}"></span>
						
							<button class="btn btn-sm btn-light">
							<a class="dl-link" th:href="@{/indexing/urlLists/dl?fileName=} + ${urlList}">
							<span class="glyphicon glyphicon-save"></span>
							</a>
							</button>
						
							<button class="btn btn-sm btn-light"
									th:onclick="showUrlListDeleteModal([[${urlList}]])">
							<span class="glyphicon glyphicon-trash"></span>
							</button>
							
						</div>
						
				  	</div>
			
				</div>
				
				<div class="input-group">
				
					<span class="input-group-btn">
			
					   	<span class="btn btn-light btn-file">
		
							<span th:text="#{m_add}"></span>
		
					      		<input id="urlListFileInput"
									   data-url="/upload" 
									   accept="text/plain" 
									   name="image" 
									   type="file">
	
					    	</span>
	
					  	</span>

					<input id="urlListFilePreview"
						   readonly="readonly" 
						   th:placeholder="#{m_file}" 
						   class="form-control" 
						   name="filename" 
						   type="text">
						
					<span class="btn btn-primary btn-file"
						  th:text="#{m_submit}"
						  th:onclick="submitUrlFile()">
					
					</span>	
					
				</div>
			
			</div>

    		
		
		</div>
	
	</div>
	
	
	
	
</div>

<!-- pass variables to js -->
<script th:inline="javascript">
	/*<![CDATA[*/
	var urlLists = /*[[${urlLists}]]*/ "default";
	/*]]>*/
</script>

<th:block th:include="fragments/messages.html :: messages"></th:block>
<th:block th:include="fragments/general.html :: commonScripts"></th:block>
<th:block th:include="fragments/modals.html :: modals"></th:block>

<script th:src="@{/js/indexing.js}"></script>

</body>

</html>