<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" th:href="@{/css/search.css}" />

</head>

<body>

<nav th:replace="fragments/general.html :: navbar"></nav>

<div class="main-container">

	<div id="title">
		<h1>HSE</h1>
		<h2>The Health Search Engine</h2>	
	</div>
	
	<div id="search-bar">
		<form th:action="@{/}" method="POST">
		
		<input id="search-input" 
				    name="queryString" 
				   	class="form-control form-control-lg" 
				   	type="text" 
				   	th:placeholder="#{m_search}">
		
		<button type="submit" id="search-btn" class="btn btn-lg btn-primary">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		
		</form>
	</div>
	
	<div th:if="${experimentId != null}" th:text="'Experiment: ' + ${experimentId}"></div>
	<div th:if="${groupId != null}" th:text="'Group: ' + ${groupId}"></div>
	<div th:if="${userId != null}" th:text="'User: ' + ${userId}"></div>
	<div th:if="${surveyUrl != null}" th:text="'Survey: ' + ${surveyUrl}"></div>
	
	<div id="results" th:if="${searchResultList != null}">

		<div id="resultPropertiesDisplay"></div>

		<div th:each="result : ${searchResultList.searchResults}" class="result-item">
		
			<div class="result-url">
				<a th:href="@{${result.url}}" 
				   th:text="${result.url}" 
				   target="blank"
				   th:onclick="sendBrowseEvent([[${result}]])"></a>
			</div>
			
			<div class="result-summary" th:utext="${result.summary}">
			</div>
			
		</div>

	</div>
	
</div>

<script th:inline="javascript">
	/*<![CDATA[*/
	var searchResultList = /*[[${searchResultList}]]*/ "default";
	/*]]>*/
</script>

<th:block th:include="fragments/messages.html :: messages"></th:block>
<th:block th:include="fragments/general.html :: commonScripts"></th:block>

<script th:src="@{/js/search.js}"></script>

</body>

</html>

