<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/general.html :: general_head">
        	</th:block> /*/-->
           
	<link rel="stylesheet" type="text/css" th:href="@{${baseUrl} + 'css/search.css'}" />

</head>

<body>

<nav th:replace="fragments/general.html :: navbar"></nav>
<nav th:replace="fragments/general.html :: participant-navbar"></nav>

<div class="main-container">

	<div id="timeoutDisp">
		<h3 id="remainingTime">:</h3>
	</div>

	<div id="title">
		<h1>HSE</h1>
		<h2>The Health Search Engine</h2>	
	</div>
	
	<div id="search-bar">
		<form th:action="@{${baseUrl}}" method="GET">
		
		<input id="search-input" 
				    name="queryString" 
				   	class="form-control form-control-lg" 
				   	type="text" 
				   	th:placeholder="#{m_search}">
		
		<input type="hidden" id="tParam" name="t">
		
		<button type="submit" id="search-btn" class="btn btn-lg btn-primary">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		
		</form>
	</div>
	
	<div id="results" th:if="${searchResultList != null}">

		<div id="resultPropertiesDisplay"></div>

		<div th:each="result : ${searchResultList.searchResults}" class="result-item">
		
			<div class="result-url">
				<a th:href="${result.url}" 
				   target="blank"
				   th:text="${result.url}" 
				   th:onclick="sendBrowseEvent([[${result}]])"></a>
			</div>
			
			<div class="result-summary" th:utext="${result.summary}">
			</div>
			
		</div>

	</div>
	
</div>

<script th:inline="javascript">
	/*<![CDATA[*/
	var searchResultList = /*[[${searchResultList}]]*/ "default";
	var timeout = /*[[${timeout}]]*/ "default";
	/*]]>*/
</script>

<th:block th:include="fragments/messages.html :: messages"></th:block>
<th:block th:include="fragments/general.html :: commonScripts"></th:block>

<script th:src="@{${baseUrl} + 'js/search.js'}"></script>

</body>

</html>

